.header-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.header-description {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.button-brand {
    width: 186px;
    height: 64px;
    background: #FFA00A;
    border-radius: 12px;
    border: none;
    font-weight: bold;
}

@media (max-width: 768px) {
    .header-title {
        font-size: 1.5rem;
    }
    .header-description {
        font-size: 1rem;
    }
    .button-brand {
        width: 100%;
    }
}