* {
    font-family: 'Ibarra Real Nova', serif;
}

.cursor-pointer {
    cursor: pointer;
}

.image-round {
    border-radius: 50%;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 20px solid transparent;
    border-top: 50px solid #FFA00A;
    margin-top: -1rem;
    margin-left: 20px;
}

select {
    padding: 10px;
    font-weight: 700;
    font-family: 'Ibarra Real Nova', serif;
    border: none;
    border-bottom: 2px solid #FFAC29;
}

select:focus {
    outline: none;
}